*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #c6d8fa;
    font-family: Merriweather, serif;
    overflow-x: hidden;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(
        to right,
        #ffffff 0%,
        #ffffff 51%,
        #ffffff 100%
      );
     
}
.navbar__brand{
    width: 85px;
}
.navbar__logo{
    width: 100%;
}

.button__primary{
    background-image: linear-gradient(
        to right,
        #bd2d10 0%,
        #fc308c 0%,
        #fa4a27 105%
    );
    color: white;
    border-radius: 6px;
    border: none;
    padding: 8px;
    cursor: pointer;
}
.hero__container{
    width: 100%;
    margin: 10px;
}

.hero__image__container{
    position: relative;
    width: 100%;
}

.hero__image__shape {
    position:absolute;
    right: 2;
  }

.hero__image{
   position: absolute;
    width: 100%;
    right: auto;
    left: auto;
    z-index: 2;
    border-radius: 6px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.hero__text{
    font-size: 30px;
    color: #1d3557;
    margin: 5px 0;
}
.below__text {
    margin-top: 2rem;
    color: #1d3557;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
  }
  .explore__menu__container{
    margin-top: 50px;
}
.explore__menu__container__text{
    font-size: 40px;
    color: #1d3557;
    margin: 20px 0;
    text-align: center;
}

.food__menu__card{
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 8px;
}

.food__image{
    width: 100%;
    border-radius: 8px;
}

.food__menu__card__description{
    padding: 20px;
}
.explore__menu__view__more{
    display: flex;
    justify-content: center;
}
.restaurant__container{
    width: 100%;
  
}
.restaurant__text{
    width: 100%;
    font-size: 25px;
    color: #1d3557;
    margin: 20px 0;
    text-align: center;
}
.restaurant__flex__images1,
.restaurant__flex__images2{
    width: 100%;
    display: flex;
    gap: 6px;
    margin: 10px;
}
.restaurant__flex__images1 {
    align-items: baseline;
}

.restaurant1__image,
.restaurant2__image,
.restaurant3__image,
.restaurant4__image{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.restaurant1,  
.restaurant4 {
    width: 100%;
    height: 150px;
}
.restaurant2, .restaurant3{
    width: 120%;
    height: 180px;
}
.email__container{
    width: 100%;
    margin-top: 30px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}
.text-xl{
    width: 100%;
    font-size: 20px;
    color: #1d3557;   
  line-height: 30px;
}
.email__input__field {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .email__input {
    border: 1px solid #ee89a0;
    background-color: #fcedf0;
    color: #1d3557;
    font-weight: 700;
    padding: 4px;
    border-radius: 4px;
  }
  .email__input::placeholder {
    color: #bdbcbc;
  }
  .quote__container {
    position: relative;
    margin-top: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 100%;
    border-radius: 13px;
    background: url("https://i.pinimg.com/originals/c2/c6/4b/c2c64b930af48a341c3adef7c659d36e.png")
      center center / cover no-repeat;
  }
.quote_image_overlay {
    position: absolute;
    height: 200px;
    width: 100%;
    border-radius: 13px;
    background-color: #0a4065;
    opacity: 49%;
  }
.quote__text {
    color: #fff;
    z-index: 3;
    margin: 0 10px;
    text-align: center;
  }
  footer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
  }
  
  footer > img {
    width: 250px;
    filter: brightness(0) invert(1);
  }
  
  footer > ul {
    margin-top: 10px;
    color: #fff;
  }
  
  footer > ul > li {
    margin: 5px 0;
  }

  

@media (min-width:768px){
    .navbar{
        justify-content: space-between;
        padding: 3px 15px;
    }
    .button__primary{
        padding: 6px 15px; 
        font-size: 11px;
    }
    .hero__container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    
    }
    .hero__text{
        font-size: 35px;
    }
    .explore__menu__container{
        position: relative;
    }
    .explore__menu__bg{
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;

        background-image: linear-gradient(
            to right,
            #bd2d10 0%,
            #fc308c 0%,
            #fa4a27 105%
        );
        z-index: -3;
        transform: skewY(-4deg);
    }
    .explore__menu__lists{
        margin-top: 40px;
        display: flex;
        gap: 10px;
        margin: 25px;
    }
    #pizza__card{
        margin-top: -20px;
        margin-bottom: 30px;
    }
    .restaurant__container{
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .restaurant__text{
       width: 100%;
       font-size: 35px;
    }
    .restaurant__flex{
        width: 100%;
    }
    .email__container{
        display: flex;
        justify-content: center;
    }
    .email__input{
        width: 250px;
    }
    
      .quote__container {
        height: 300px;
        width: 100%;
      }
      .quote_image_overlay {
        position: absolute;
        height: 300px;
        width: 100%;
        border-radius: 13px;
        background-color: #0a4065;
        opacity: 49%;
      }
      .quote_image_text {
        color: #fff;
        z-index: 3;
        margin: 0 1rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2;
      }
      footer {
        margin-top: 30px;
        margin-left: -250px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }

@media(min-width: 1020px){
    .navbar{
        justify-content: space-between;
    }
    .button__primary{
        padding: 12px 20px;
        font-size: 16px;
    }
    .container{
        max-width: 900px;
    }
    .hero__container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 20px;
    }
    .hero__description{
        width: 100%;
    }
    .hero__text{
        font-size: 35px;
    }
    .explore__menu__lists{
        display: flex;
        gap: 15px;
    }
    #pizza__card{
        margin-top: -20px;
        margin-bottom: 30px;
    }
    .restaurant__container{
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .restaurant__text{
       width: 100%;
       font-size: 35px;
    }
    .restaurant__flex{
        width: 100%;
    }
}

@media(min-width:1400px){
    .navbar{
        justify-content: space-between;
    }
    .button__primary{
        padding: 12px 20px;
        font-size: 16px;
    }
    .container{
        max-width: 1250px;
    }
    .hero__container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .hero__image__container{
        width: 500px;
        height: 500px;
    }
    .hero__description{
        width: 100%;
    }
    .hero__text{
        font-size: 35px;
    }
    .explore__menu__lists{
        display: flex;
        gap: 15px;
    }
    #pizza__card{
        margin-top: -20px;
        margin-bottom: 30px;
    }
    .restaurant__container{
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .restaurant__text{
       width: 100%;
       font-size: 35px;
    }
    .restaurant__flex{
        width: 100%;
    }
}